@font-face {
  font-family: "FiraSansLight";

  src: url("../fonts/FiraSansLight/FiraSansLight.woff"),
  url("../fonts/FiraSansLight/FiraSansLight.ttf");
}

@font-face {
  font-family: "FiraSansReg";

  src: url("../fonts/FiraSansReg/FiraSans.woff"),
  url("../fonts/FiraSansReg/FiraSans.ttf");
}

@font-face {
  font-family: "FiraSansBold";

  src: url("../fonts/FiraSansBold/FiraSans-Bold.woff"),
  url("../fonts/FiraSansBold/FiraSans-Bold.ttf");
}

@font-face {
  font-family: "FiraSansBook";

  src: url("../fonts/FiraSansBook/FiraSans-Book.otf");
}
