//Сброс стилей списков
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

//Автоматическая центровка
@mixin push--auto {
  margin: {
   left: auto;
   right: auto;
  }
}

//Псевдоэлементы
@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

//Шрифты
@mixin font-source-sans($size: false, $color: false, $font: false,  $lh: false) {
  @if $font { font-family: $font; }
  @if $size { font-size: $size; }
  @if $color { color: $color; }
  @if $lh { line-height: $lh; }
}
