//Шрифты

$normal: "FiraSansReg", "Arial", sans-serif;
$bold: "FiraSansBold", "Arial", sans-serif;
$light: "FiraSansLight", Arial, sans-serif;
$book: "FiraSansBook", Arial, sans-serif;

//Цвета

$theme-color: #3399ff;
$white: #ffffff;
$black: #1a1a1a;

$gray: #999999;
$light-gray: #e6e6e6;

$green: #5eab1f;


